<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description"  content="This application is an administration tool for web development"/>
    <meta name="Author" content="Knut"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <title>2sn - Login</title>
    
    <link rel="stylesheet" href="{{ asset('bundles/ssn/css/reset.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/ssn/css/screen.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/ssn/css/fancybox.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/ssn/css/jquery.wysiwyg.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/ssn/css/jquery.ui.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/ssn/css/visualize.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/ssn/css/visualize-light.css') }}" type="text/css"/>
    <!--[if IE 7]>
	<link rel="stylesheet" type="text/css" href="css/ie7.css" />
	<![endif]-->
  </head>
  
  <body class="login">
    
    <div class="login-box">
      <div class="login-border">
	<div class="login-style">
	  <div class="login-header">
	    <div class="logo clear">
	      <img src="{{asset ('bundles/ssn/images/logo_earth.png') }}" alt="" class="picture" />
	      <span class="textlogo">
		<span class="title">2sn - Login</span>
		<span class="text">Super Social Network</span>
	      </span>
	    </div>
	  </div>
	  {% if error %}
	  <div>{{ error.message }}</div>
	  {% endif %}
	  <form action="{{ path('login_check') }}" method="post">
	    <div class="login-inside">
	      <div class="login-data">
		<div class="row clear">
		  <label for="user">Login:</label>
		  <input type="text" id="username" name="_username" value="{{ last_username }}" />
		</div>
		<div class="row clear">
		  <label for="password">Password:</label>
		  <input type="password" id="password" name="_password" />
		  
		  {#
		  If you want to control the URL the user is redirected to on success (more details below)
		  <input type="hidden" name="_target_path" value="/timeline" />
		  #}
		  
		  <button type="submit" class="button">login</button>
		</div>
		<p>Welcome in a new social world... </p>
	      </div>
	      <div class="login-footer clear">
		<span class="remember">
		  <input type="checkbox" class="checkbox" checked="checked" id="remember" /> <label for="remember">Remember</label>
		  <p>No register yet? Quick registering :
		    <a href="{{ path('register') }}" >Register</a>
		</span>
	      </div>
	  </form>
	  </div>
	</div>
      </div>
      <div class="login-links">
	<p><strong>&copy; 2013 Copyright by Random</a></strong> No rights reserved.</p> 
      {% block javascripts %}
      <script src="{{ asset('bundles/ssn/js/jquery.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.visualize.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.wysiwyg.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.tinymce.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.fancybox.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.idtabs.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.datatables.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.jeditable.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.ui.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.jcarousel.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/jquery.validate.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/excanvas.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/cufon.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/Zurich_Condensed_Lt_Bd.js') }}" type="text/javascript"></script>
      <script src="{{ asset('bundles/ssn/js/script.js') }}" type="text/javascript"></script>
      {% endblock %}

</body>
</html>
</form>
